.popup__title {
    line-height: 1.21;
    margin: 34px 36px 60px;
    font-size: 24px;
    font-weight: 900;
    font-family: 'Inter', 'Arial', sans-serif;
}

@media screen and (max-width: 600px) {
    .popup__title {
        margin: 0 22px 75px;
        font-size: 18px;
    }
}
