.login__input {
  
	  border: 0;
    display: flex;
    border-bottom: 1px solid white;
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0 0 13px 0;
    outline: none;
    font-family: 'Inter', 'Arial', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
		background-color: transparent;
		color: #CCC;
}

.login__input:first-child {
  margin: 0 0 43px 0
}